version: '3'
services: 
    mongo-rs0-1:
        image: "mongo"
        build: ./mongo/mongo-rs0-1
        ports: 
            - "27017:27017"
        depends_on: 
            - "mongo-rs0-2"
            - "mongo-rs0-3"

    mongo-rs0-2:
        image: "mongo"
        command: --replSet rs0
        ports: 
            - "27018:27017"

    mongo-rs0-3:
        image: "mongo"
        command: --replSet rs0
        ports: 
            - "27019:27017"

    setup-rs:
        image: "setup-rs"
        build: ./mongo/setup
        depends_on: 
            - "mongo-rs0-1"
    
    adminmongo:
        image: "mrvautin/adminmongo"
        ports: 
            - "1234:1234"
    
    api:
        image: "node"
        build: .
        ports: 
            - "8080:8080"
            - "3000:3000"
        volumes: 
            - .:/usr/src/app
            - /usr/src/app/node_modules
        depends_on: 
            - "setup-rs"
            